# TP3 - Views, Updates and Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network

___

For the first 2 parts we will use the **`wine.db`** database and the Tables created in TP2.

A reminder of the wine database schema:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
master01:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
master02:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
master03:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
master11:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
master12:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
master13:
  0: LIEU(TEXT)
  1: REGION(TEXT)
master14:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)

Again, we will use **`%%sql`** magic for our queries

In [4]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

Recreate the Normalized Tables from **Master1** and **Master2** as you did in the TP2

### Normalized tables from Master 1

In [154]:
%%sql DROP TABLE IF EXISTS master01;

-- Create master01 table
CREATE TABLE master01 AS
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM MASTER1;

SELECT * 
FROM master01;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, None, None, None),
 (1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [155]:
%%sql DROP TABLE IF EXISTS master02;

-- Create master02 table
CREATE TABLE master02 AS
SELECT DISTINCT NP,NOM,PRENOM,REGION
FROM MASTER1
ORDER BY NP ASC;

SELECT * 
FROM master02;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, None, None, None),
 (1, 'Bohn', 'Rene', 'Alsace'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (3, 'Six', 'Paul', 'Alsace'),
 (4, 'Stentz', 'Fernand', 'Alsace'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (11, 'Clerget', 'Anne', 'Bourgogne'),
 (12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (13, 'Grivot', 'Jean', 'Bourgogne'),
 (14, 'Jayer', 'Henri', 'Bourgogne'),
 (15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne'),
 (18, 'Tramier', 'Jean', 'Bourgogne'),
 (19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (20, 'Lamy', 'Jean', 'Bourgogne'),
 (21, 'Cornu', 'Edmond', 'Bourgogne'),
 (22, 'Dubreuil Fontaine', 'Pierre', 'Bourgogne'),
 (23, 'Laleure', None, 'Bourgogne'),
 (24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (26, 'Violot', 'Gilbert', 'Bourgogne'),
 (27, 'Glantenay', 'Louis', 'Bourgogne'),
 (28, 'Monnier', 'Rene', 'Bourgogne'),
 (29, 'de Suremain', 'Robert', 'Bourgogne'),
 (30, 'Desbois', 'Maurice', 'Bourgogne'),
 (31, 'Prudhon', 'Henri', 'Bourgogne'),
 (32, 'Mestre', 'Philippe', 'Bourgogne'),
 (33, 'Prieur', 'Guy', 'Bourgogne'),
 (34, 'Monnier', 'Rene', 'Bourgogne'),
 (35, 'Roulot', 'Guy', 'Bourgogne'),
 (36, 'Sauzet', 'Etienne', 'Bourgogne'),
 (37, 'Delagrange Bachelet', None, 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (39, 'de Suremin', 'Hugues', 'Bourgogne'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (41, 'Juillot', 'Michel', 'Bourgogne'),
 (42, 'Juillot', 'Maurice', 'Bourgogne'),
 (43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (44, 'Feyveley', None, 'Bourgogne'),
 (45, 'Jeannin', 'Andre', 'Bourgogne'),
 (46, 'Monassier', 'Armand', 'Bourgogne'),
 (47, 'Thenard', None, 'Bourgogne'),
 (48, 'Flamand', None, 'Bourgogne'),
 (49, 'Guillot', 'Pierre', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (51, 'Simonet', 'Leon', 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (53, 'Cooperative', None, 'Bourgogne'),
 (54, 'Cooperative', None, 'Bourgogne'),
 (55, 'Michon', None, 'Beaujolais'),
 (56, 'Coutelle', 'Jean', 'Beaujolais'),
 (57, 'Desmules', 'Pierre', 'Beaujolais'),
 (58, 'Joubert', 'Claude', 'Beaujolais'),
 (59, 'La Thuilliere', 'Jean', 'Beaujolais'),
 (60, 'Vernus', 'Georges', 'Beaujolais'),
 (61, 'Champier', 'Charles', 'Beaujolais'),
 (62, 'Champagnon', 'Louis', 'Beaujolais'),
 (64, 'Marius Bel Air', 'Morin', 'Beaujolais'),
 (66, 'Cooperative', None, 'Beaujolais'),
 (67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (68, 'Savoye', 'Louis', 'Beaujolais'),
 (69, 'Janin', 'Marcel', 'Beaujolais'),
 (70, 'Trichard', 'Benoit', 'Beaujolais'),
 (71, 'Chalandard', 'Danile', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (73, 'Bourguignon', 'Emile', 'Jura'),
 (74, 'Grand', 'Rene', 'Jura'),
 (75, 'Loye', 'Camille', 'Jura'),
 (76, 'Maire', 'Henri', 'Jura'),
 (77, 'Tissot', 'Andre', 'Jura'),
 (78, 'Michlel', 'Pierre Emile', 'Jura'),
 (79, 'Petit', 'Gerard', 'Jura'),
 (80, 'Devaux', 'Jean Paul', 'Jura'),
 (81, 'Peltier', 'Pierre', 'Jura'),
 (82, 'Mollex', 'Georges', 'Savoie'),
 (83, 'Goy', None, 'Jura'),
 (84, 'Metral', 'Jean', 'Jura'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (88, 'Begot', 'Albert', 'Rhone'),
 (89, 'Michelas', 'Robert', 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (91, 'Chave', 'Gerard', 'Rhone'),
 (92, 'De Boissieu', None, 'Rhone'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (94, 'Grippat', 'Jean Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (96, 'Boisson', 'Jean Pierre', 'Rhone'),
 (97, 'Quiot', 'Pierre', 'Rhone'),
 (98, 'Berard', None, 'Rhone'),
 (99, 'Cooperative', None, 'Rhone'),
 (100, 'Bernard', 'Georges', 'Rhone'),
 (101, 'Verdan', 'Antoine', 'Rhone'),
 (102, 'Cooperative', None, 'Rhone'),
 (103, 'Coulouvrat', 'Michel', 'Rhone'),
 (104, 'Rabasse Chavarin', 'Abel', 'Rhone'),
 (105, 'Roux', 'Charles', 'Rhone'),
 (106, 'Alary', None, 'Rhone'),
 (107, 'Meunier', 'Laurent', 'Rhone'),
 (108, 'Archimbaud', 'Jean', 'Rhone'),
 (109, 'Rey', 'Marcel', 'Rhone'),
 (110, 'Cooperative', None, 'Rhone'),
 (111, 'Zafiropulo', 'Costa', 'Provence'),
 (112, 'Prebost', 'Gaston', 'Provence'),
 (113, 'Gomez', 'Rene', 'Provence'),
 (114, 'Brunet', 'Georges', 'Provence'),
 (115, 'Bordonado', 'Raymond', 'Provence'),
 (116, 'Imbert', 'Christian', 'Corse'),
 (117, 'Cooperative', None, 'Languedoc'),
 (118, 'Cooperative', None, 'Languedoc'),
 (119, 'Cooperative', None, 'Pyrenees'),
 (121, 'Cooperative', None, 'Pyrenees'),
 (122, 'Dupuy', 'Charles', 'Pyrenees'),
 (123, 'Laurent', 'Pierre', 'Pyrenees'),
 (124, 'Daurat Fort', 'Robert', 'Pyrenees'),
 (125, 'Baldes', 'Jean', 'Sud'),
 (126, 'Jouffreau', 'Jean', 'Sud'),
 (127, 'Brumont', 'Alban', 'Sud'),
 (129, 'Barrere', 'Alfred', 'Sud')]

In [156]:
%%sql DROP TABLE IF EXISTS master03;

-- Create master03 table
CREATE TABLE master03 AS
SELECT DISTINCT NV,NP,QTE
FROM MASTER1
ORDER BY NV ASC;

SELECT * 
FROM master03;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, 3, None),
 (None, 6, None),
 (None, 8, None),
 (None, 16, None),
 (None, 17, None),
 (None, 18, None),
 (None, 19, None),
 (None, 20, None),
 (None, 21, None),
 (None, 26, None),
 (None, 28, None),
 (None, 29, None),
 (None, 31, None),
 (None, 32, None),
 (None, 33, None),
 (None, 34, None),
 (None, 37, None),
 (None, 39, None),
 (None, 41, None),
 (None, 44, None),
 (None, 47, None),
 (None, 48, None),
 (None, 49, None),
 (None, 51, None),
 (None, 53, None),
 (None, 57, None),
 (None, 58, None),
 (None, 61, None),
 (None, 62, None),
 (None, 66, None),
 (None, 77, None),
 (None, 83, None),
 (None, 91, None),
 (None, 92, None),
 (None, 94, None),
 (None, 96, None),
 (None, 97, None),
 (None, 100, None),
 (None, 101, None),
 (None, 102, None),
 (None, 103, None),
 (None, 104, None),
 (None, 105, None),
 (None, 106, None),
 (None, 108, None),
 (None, 109, None),
 (None, 110, None),
 (None, 111, None),
 (None, 112, None),
 (None, 113, None),
 (None, 114, None),
 (None, 115, None),
 (None, 116, None),
 (None, 117, None),
 (None, 118, None),
 (None, 119, None),
 (None, 121, None),
 (None, 122, None),
 (None, 123, None),
 (None, 124, None),
 (None, 125, None),
 (None, 126, None),
 (None, 127, None),
 (None, 129, None),
 (1, 1, 300),
 (1, 73, 1),
 (2, 5, 100),
 (3, 1, 400),
 (4, 10, 35),
 (5, 30, 46),
 (6, 42, 300),
 (7, 98, 60),
 (8, 90, 12),
 (9, None, None),
 (10, 98, 100),
 (11, 5, 200),
 (12, 7, 31),
 (12, 43, 200),
 (12, 89, 310),
 (13, 13, 13),
 (14, 86, 180),
 (15, 80, 290),
 (16, 38, 100),
 (17, 95, 50),
 (18, 40, 120),
 (19, 7, 986),
 (20, 50, 100),
 (21, 5, 150),
 (22, 86, 50),
 (23, 86, 15),
 (24, 36, 859),
 (25, 95, 40),
 (26, 43, 70),
 (27, 99, 60),
 (28, 50, 10),
 (29, 50, 50),
 (30, 22, 350),
 (31, 50, 320),
 (32, 9, 500),
 (32, 72, 890),
 (33, 60, 70),
 (34, 4, None),
 (35, 10, 900),
 (35, 23, 350),
 (36, 93, 50),
 (37, 54, 830),
 (38, 52, 125),
 (39, 52, 80),
 (40, None, 90),
 (41, 76, 25),
 (42, 82, 80),
 (43, 13, 500),
 (43, 72, 900),
 (43, 85, 983),
 (44, 93, 40),
 (45, 2, 90),
 (45, 67, 912),
 (45, 71, 98),
 (45, 78, 540),
 (45, 86, 450),
 (46, 64, 760),
 (47, 52, 75),
 (48, 93, 70),
 (49, 2, 150),
 (50, 2, 100),
 (51, 15, 36),
 (52, 40, 500),
 (53, 40, 800),
 (54, 1, 500),
 (54, 2, 900),
 (54, 14, 500),
 (54, None, 210),
 (55, 14, 450),
 (56, 24, 790),
 (57, 40, 940),
 (58, 45, 70),
 (59, 45, 160),
 (60, 50, 300),
 (60, 60, 60),
 (61, 90, 120),
 (62, 60, 900),
 (63, None, 136),
 (64, 72, 870),
 (64, 85, 980),
 (65, 12, 10),
 (65, 25, 560),
 (66, None, 124),
 (67, 5, 125),
 (67, 10, 890),
 (67, 82, 760),
 (68, 12, None),
 (69, 9, 96),
 (69, 12, 320),
 (69, 69, 690),
 (70, 38, 120),
 (71, 38, 132),
 (72, 52, 34),
 (73, 38, 45),
 (74, 70, 650),
 (74, 72, 850),
 (74, 84, 675),
 (75, 38, 69),
 (76, 46, 100),
 (76, 85, 900),
 (77, 85, 100),
 (78, 4, 300),
 (78, 27, 360),
 (78, 30, 900),
 (78, 68, 980),
 (78, 80, 970),
 (79, 74, 100),
 (79, 79, 79),
 (79, 81, 800),
 (80, 90, 79),
 (81, 90, 24),
 (82, 43, 100),
 (82, 80, 800),
 (83, 95, 423),
 (84, 95, 146),
 (85, 55, 46),
 (86, 93, 500),
 (87, 38, 630),
 (87, 45, 680),
 (87, 72, 900),
 (88, 55, 129),
 (89, 15, 150),
 (89, 42, 980),
 (89, 55, 723),
 (89, None, 980),
 (89, 89, 100),
 (90, 56, 900),
 (90, 95, 40),
 (91, 79, 24),
 (92, 11, 900),
 (93, 79, 110),
 (94, 11, 500),
 (94, 27, 180),
 (95, 95, 900),
 (96, 59, 370),
 (97, 70, 101),
 (98, 24, 986),
 (98, 35, 400),
 (98, 75, 150),
 (98, 76, 890),
 (98, 88, 340),
 (99, 5, 100),
 (99, 99, 199),
 (100, 25, 100),
 (101, 70, 213),
 (107, 107, 7000)]

###  Normalized tables from Master 2

In [157]:
%%sql DROP TABLE IF EXISTS master11;

-- Create master11 table
CREATE TABLE master11 AS
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM MASTER2
ORDER BY NV ASC;

SELECT * 
FROM master11;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, None, None, None),
 (1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [175]:
%%sql DROP TABLE IF EXISTS master12;

-- Create master12 table
CREATE TABLE master12 AS
SELECT DISTINCT NB,NOM,PRENOM,TYPE
FROM MASTER2
ORDER BY NB ASC;

SELECT * 
FROM master12;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, None, None, None),
 (1, 'Aristote', None, 'petit'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'petit'),
 (10, 'Andersen', 'Yann', 'gros'),
 (11, 'Breton', 'Andre', 'petit'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (15, 'Baudelaire', 'Charles', 'petit'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (17, 'Camus', 'Albert', 'petit'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (25, 'Char', 'Rene', 'petit'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (30, 'La Fontaine', 'Jean de', 'petit'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (38, 'Montaigne', 'Michel de', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (40, 'Moliere', None, 'petit'),
 (41, 'Gauthier', 'Theophile', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (44, 'Gide', 'Andre', 'petit'),
 (45, 'Giono', 'Jean', 'petit'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (49, 'Kafka', 'Franz', 'petit'),
 (50, 'Lautreamont', None, 'moyen'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (52, 'Carroll', 'Lewis', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (60, 'Ovide', None, 'gros'),
 (61, 'Mallarme', 'Stephane', 'petit'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (80, 'Sand', 'Georges', 'petit'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (82, 'Roussel', 'Rene', 'petit'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (92, 'Verne', 'Jules', 'petit'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (96, 'Wilde', 'Oscar', 'petit'),
 (97, 'Vigny', 'Alfred de', 'petit'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (100, 'Woolf', 'Virginia', 'petit')]

In [159]:
%%sql DROP TABLE IF EXISTS master13;

-- Create master13 table
CREATE TABLE master13 AS
SELECT DISTINCT LIEU,REGION
FROM MASTER2;

SELECT * 
FROM master13;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, None),
 ('BORDEAUX', ' NOUVELLE-AQUITAINE'),
 ('PARIS', ' LE-DE-FRANCE'),
 ('RENNES', ' BRETAGNE'),
 ('LYON', '  AUVERGNE-RHNE-ALPES'),
 ('NICE', " PROVENCE-ALPES-CTE D'AZUR"),
 ('MERCUREY', ' BOURGOGNE-FRANCHE-COMT'),
 ('TOULOUSE', ' OCCITANIE'),
 ('SENS', ' BOURGOGNE-FRANCHE-COMT'),
 ('LILLE', ' HAUTS-DE-FRANCE'),
 ('NANCY', ' GRAND EST'),
 ('CANNES', " PROVENCE-ALPES-CTE D'AZUR"),
 ('TOULON', " PROVENCE-ALPES-CTE D'AZUR"),
 ('CHALON SUR SAONE', ' BOURGOGNE-FRANCHE-COMT'),
 ('ROCQUENCOURT', ' LE-DE-FRANCE'),
 ('PARLY', ' BOURGOGNE-FRANCHE-COMT'),
 ('LE CHESNAY', ' LE-DE-FRANCE'),
 ('CAEN', ' NORMANDIE'),
 ('DIJON', ' BOURGOGNE-FRANCHE-COMT')]

In [160]:
%%sql DROP TABLE IF EXISTS master14;

-- Create master14 table
CREATE TABLE master14 AS
SELECT DISTINCT NV,NB,DATES,LIEU,QTE
FROM MASTER2
ORDER BY NV ASC;

SELECT * 
FROM master14;

 * sqlite:///wine.db
Done.
Done.
Done.

[(None, 11, None, None, None),
 (None, 13, None, None, None),
 (None, 16, None, None, None),
 (None, 18, None, None, None),
 (None, 20, None, None, None),
 (None, 21, None, None, None),
 (None, 23, None, None, None),
 (None, 25, None, None, None),
 (None, 27, None, None, None),
 (None, 29, None, None, None),
 (None, 32, None, None, None),
 (None, 34, None, None, None),
 (None, 35, None, None, None),
 (None, 36, None, None, None),
 (None, 37, None, None, None),
 (None, 39, None, None, None),
 (None, 42, None, None, None),
 (None, 43, None, None, None),
 (None, 46, None, None, None),
 (None, 47, None, None, None),
 (None, 51, None, None, None),
 (None, 53, None, None, None),
 (None, 54, None, None, None),
 (None, 55, None, None, None),
 (None, 56, None, None, None),
 (None, 57, None, None, None),
 (None, 59, None, None, None),
 (None, 63, None, None, None),
 (None, 64, None, None, None),
 (None, 65, None, None, None),
 (None, 66, None, None, None),
 (None, 67, None, None, None),
 (None, 68, None, None, None),
 (None, 69, None, None, None),
 (None, 70, None, None, None),
 (None, 71, None, None, None),
 (None, 72, None, None, None),
 (None, 73, None, None, None),
 (None, 74, None, None, None),
 (None, 76, None, None, None),
 (None, 77, None, None, None),
 (None, 78, None, None, None),
 (None, 79, None, None, None),
 (None, 81, None, None, None),
 (None, 83, None, None, None),
 (None, 84, None, None, None),
 (None, 85, None, None, None),
 (None, 86, None, None, None),
 (None, 87, None, None, None),
 (None, 88, None, None, None),
 (None, 89, None, None, None),
 (None, 90, None, None, None),
 (None, 91, None, None, None),
 (None, 93, None, None, None),
 (None, 95, None, None, None),
 (None, 98, None, None, None),
 (None, 99, None, None, None),
 (1, 2, '1977-11-02', 'BORDEAUX', 33),
 (1, 44, '2015-10-16', 'PARIS', 1),
 (1, 45, '1983-12-31', 'RENNES', 1),
 (2, 48, '1983-12-25', 'LYON', 2),
 (3, 7, '1978-11-01', 'NICE', 6),
 (3, 49, '1987-12-24', 'MERCUREY', 5),
 (4, 8, '1982-11-05', 'TOULOUSE', 12),
 (4, 44, '2015-10-16', 'PARIS', 6),
 (4, 50, '1981-06-29', 'SENS', 4),
 (5, 2, '1984-11-04', 'MERCUREY', 50),
 (5, 52, '1983-06-29', 'LILLE', 5),
 (6, 3, '1978-01-21', 'NANCY', 36),
 (7, 4, '1987-09-19', 'PARIS', 24),
 (7, 58, '1987-04-28', 'CANNES', 7),
 (8, 1, '1982-09-15', 'PARIS', 78),
 (8, 9, '1979-11-01', 'LILLE', 10),
 (8, 60, '1980-05-12', 'TOULON', 8),
 (9, 5, '1982-03-26', 'LYON', 20),
 (9, 10, '1979-05-12', 'LILLE', 1),
 (9, 61, '1907-04-21', 'TOULON', 9),
 (10, 2, '1982-10-30', 'CHALON SUR SAONE', 500),
 (10, 3, '1977-12-31', 'BORDEAUX', 10),
 (10, 5, '1983-06-06', 'LYON', 10),
 (11, None, None, None, None),
 (12, 6, '1982-11-05', 'TOULOUSE', 36),
 (13, None, None, None, None),
 (14, None, None, None, None),
 (15, None, None, None, None),
 (16, 44, '2015-10-16', 'PARIS', 2),
 (17, None, None, None, None),
 (18, None, None, None, None),
 (19, None, None, None, None),
 (20, 44, '2015-10-16', 'PARIS', 3),
 (20, 61, '1978-06-12', 'NICE', 20),
 (21, 62, '1987-04-05', 'CANNES', 21),
 (22, 75, '1985-05-23', 'ROCQUENCOURT', 22),
 (22, 80, '1987-12-24', 'PARLY', 22),
 (23, 82, '1988-03-20', 'PARLY', 23),
 (24, 100, '1986-06-12', 'LE CHESNAY', 14),
 (25, None, None, None, None),
 (26, 44, '2015-10-16', 'PARIS', 4),
 (27, None, None, None, None),
 (28, 44, '2015-10-16', 'PARIS', 5),
 (29, None, None, None, None),
 (30, None, None, None, None),
 (31, 26, '1984-12-31', 'LYON', 6),
 (31, 28, '1978-12-25', 'LYON', 100),
 (32, 22, '1983-02-14', 'PARIS', 3),
 (32, 24, '1980-12-31', 'PARIS', 7),
 (33, None, None, None, None),
 (34, None, None, None, None),
 (35, 30, '1981-12-25', 'LYON', 80),
 (36, None, None, None, None),
 (37, None, None, None, None),
 (38, 12, '1981-08-06', 'CAEN', 5),
 (38, 14, '1981-05-12', 'CAEN', 2),
 (39, None, None, None, None),
 (40, 15, '1982-03-25', 'NICE', 30),
 (40, 17, '1982-04-02', 'DIJON', 25),
 (40, 19, '1980-12-31', 'DIJON', 12),
 (40, 33, '1982-04-01', 'TOULOUSE', 1),
 (40, 92, '1986-08-10', 'LE CHESNAY', 4),
 (41, 31, '1988-04-01', 'TOULOUSE', 2),
 (41, 94, '1985-12-29', 'SENS', 3),
 (42, 94, '1985-07-27', 'SENS', 3),
 (42, 100, '1983-03-10', 'PARIS', 4),
 (43, 44, '2015-10-16', 'PARIS', 7),
 (44, None, None, None, None),
 (45, None, None, None, None),
 (46, None, None, None, None),
 (47, None, None, None, None),
 (48, None, None, None, None),
 (49, None, None, None, None),
 (50, 38, '1988-02-23', 'PARIS', 1),
 (51, None, None, None, None),
 (52, None, None, None, None),
 (53, 12, '1983-06-06', 'ROCQUENCOURT', 10),
 (54, 8, '1983-05-05', 'ROCQUENCOURT', 120),
 (55, 9, '1983-05-05', 'ROCQUENCOURT', 130),
 (56, 5, '1983-05-05', 'ROCQUENCOURT', 80),
 (57, None, None, None, None),
 (58, None, None, None, None),
 (59, None, None, None, None),
 (60, None, None, None, None),
 (61, None, None, None, None),
 (62, 96, '1980-12-21', 'PARIS', 5),
 (63, 3, '1982-02-02', 'PARIS', 12),
 (64, 97, '1983-12-31', 'PARIS', 1),
 (65, None, None, None, None),
 (66, None, None, None, None),
 (67, None, None, None, None),
 (68, None, None, None, None),
 (69, None, None, None, None),
 (70, None, None, None, None),
 (71, None, None, None, None),
 (72, None, None, None, None),
 (73, None, None, None, None),
 (74, 44, '2015-10-16', 'PARIS', 8),
 (75, None, None, None, None),
 (76, None, None, None, None),
 (77, None, None, None, None),
 (78, 44, '2015-10-16', 'PARIS', 9),
 (79, 44, '2015-10-16', 'PARIS', 10),
 (80, 44, '2015-10-16', 'PARIS', 11),
 (81, 44, '2015-10-16', 'PARIS', 12),
 (82, 44, '2015-10-16', 'PARIS', 13),
 (83, 44, '2015-10-16', 'PARIS', 14),
 (84, 44, '2015-10-16', 'PARIS', 15),
 (85, 44, '2015-10-16', 'PARIS', 16),
 (86, 44, '2015-10-16', 'PARIS', 17),
 (87, 44, '2015-10-16', 'PARIS', 18),
 (88, None, None, None, None),
 (89, None, None, None, None),
 (90, None, None, None, None),
 (91, None, None, None, None),
 (92, None, None, None, None),
 (93, None, None, None, None),
 (94, None, None, None, None),
 (95, None, None, None, None),
 (96, None, None, None, None),
 (97, None, None, None, None),
 (98, None, None, None, None),
 (99, None, None, None, None),
 (100, 5, '1983-02-21', 'CAEN', 3),
 (100, 40, '1982-11-05', 'NANCY', 11),
 (100, 41, '1982-11-04', 'CANNES', 10),
 (101, None, None, None, None),
 (107, None, None, None, None)]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```mysql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command:

```mysql
DROP VIEW IF EXISTS view_name;
```


__Warning:__ Use `DROP` with caution (only drop something if you are sure)

__Note:__ You will find some cells marked as "Test" that will help you check your work. Do NOT modify them.

#### Exercise 1.1

Create a view "**bons_buveurs**" with the clients (buveurs) of type 'gros' or 'moyen'.

In [176]:
%%sql DROP VIEW IF EXISTS bons_buveurs;

CREATE VIEW bons_buveurs AS SELECT nb,NOM,PRENOM,TYPE 
FROM master12
WHERE TYPE = "gros" OR TYPE="moyen";

 * sqlite:///wine.db
Done.
Done.

[]

In [177]:
# Test
%sql SELECT * FROM bons_buveurs ORDER BY nb;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.2

Create the view "**buveurs_asec**" with clients (buveurs) who have not bought any wine.

In [163]:
%%sql DROP VIEW IF EXISTS buveurs_asec;

CREATE VIEW buveurs_asec AS
SELECT master12.NB, NOM, PRENOM,TYPE
FROM master12
WHERE NB IS NOT NULL AND PRENOM IS NOT NULL

EXCEPT

SELECT master12.NB, NOM, PRENOM,TYPE
FROM master12 JOIN master14 ON master12.NB = master14.NB
WHERE master14.QTE>=1;

 * sqlite:///wine.db
Done.
Done.

[]

In [164]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY NB;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.3

Create the view "**buveurs_achats**" complementary to the previous one.

In [165]:
%%sql DROP VIEW IF EXISTS buveurs_achats;

CREATE VIEW buveurs_achats AS
SELECT DISTINCT master12.NB, NOM, PRENOM,TYPE
FROM master12 JOIN master14 ON master12.NB = master14.NB
WHERE master14.QTE>=1;

 * sqlite:///wine.db
Done.
Done.

[]

In [166]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY NB;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None, 'petit'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'petit'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (15, 'Baudelaire', 'Charles', 'petit'),
 (17, 'Camus', 'Albert', 'petit'),
 (19, 'Ciceron', None, 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (30, 'La Fontaine', 'Jean de', 'petit'),
 (31, 'Dante', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (38, 'Montaigne', 'Michel de', 'petit'),
 (40, 'Moliere', None, 'petit'),
 (41, 'Gauthier', 'Theophile', 'petit'),
 (44, 'Gide', 'Andre', 'petit'),
 (45, 'Giono', 'Jean', 'petit'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (49, 'Kafka', 'Franz', 'petit'),
 (50, 'Lautreamont', None, 'moyen'),
 (52, 'Carroll', 'Lewis', 'petit'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (61, 'Mallarme', 'Stephane', 'petit'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (80, 'Sand', 'Georges', 'petit'),
 (82, 'Roussel', 'Rene', 'petit'),
 (92, 'Verne', 'Jules', 'petit'),
 (94, 'Zola', 'Emile', 'moyen'),
 (96, 'Wilde', 'Oscar', 'petit'),
 (97, 'Vigny', 'Alfred de', 'petit'),
 (100, 'Woolf', 'Virginia', 'petit')]

#### Exercise 1.4

Create the view "**q83pl**" (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [167]:
%%sql DROP VIEW IF EXISTS q83pl;

CREATE VIEW q83pl AS
SELECT master14.LIEU,CRU, SUM(QTE) AS QTE_BUE
FROM master14 JOIN master13 ON master14.LIEU = master13.LIEU
JOIN master11 ON master11.NV = master14.NV
WHERE master14.DATES BETWEEN '1983-01-01' AND '1983-12-31'
GROUP BY master14.LIEU, CRU
ORDER BY QTE ASC;

 * sqlite:///wine.db
Done.
Done.

[]

In [168]:
# Test
%sql SELECT * FROM q83pl;

 * sqlite:///wine.db
Done.

[('PARIS', 'Coteaux du Tricastin', 1),
 ('RENNES', 'Mercurey', 1),
 ('LYON', 'Julienas', 2),
 ('CAEN', 'Seyssel', 3),
 ('PARIS', 'Pouilly Vinzelles', 3),
 ('PARIS', 'Beaujolais Primeur', 4),
 ('LILLE', 'Pommard', 5),
 ('LYON', 'Beaujolais Villages', 10),
 ('ROCQUENCOURT', 'Beaujolais Villages', 260),
 ('ROCQUENCOURT', 'Saint Amour', 80)]

#### Exercise 1.5

Can we define the same view with ascending order over the attribute "QTE"? Provide an explanation for your answer.

Answer: No, we can't define the same view by ascending order over the attribute QTE. We notice that by ordering over the attribute QTE, the sequence of QTE_BUE is not ordered in an ascending order.

Because in the dataset, Saint Amour has been bought in once, with a quantity of 80, and that Beaujolais village has been purchased in several quantities, with one less that 80, by ordering by QTE, Beaujolais ends by being befor Saint Amour. By ordering by QTE, the software orders by the minimum quantity of each purchase, and not by the sum of quantities purchased.

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the `UPDATE` operation is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the `INSERT` operation is:

```sql
INSERT INTO table_name [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```

Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you can not execute a `DELETE`, `INSERT` or `UPDATE` statement on a view.

#### Exercise 2.1

Create a table "**RBB**" with the same schema as "**bons_buveurs**" which contains the tuples selected from "**bons_buveurs**"

In [178]:
%%sql DROP TABLE IF EXISTS RBB;

-- Create RBB table
CREATE TABLE RBB AS
SELECT NB,NOM,PRENOM,TYPE 
FROM master12
WHERE TYPE = "gros" OR TYPE="moyen";

 * sqlite:///wine.db
Done.
Done.

[]

In [179]:
# Test
%sql SELECT * FROM RBB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.2

Update the table you used to create "**bons_buveurs**": Change the "type" to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may differ from the one in your table)

In [180]:
%%sql
SELECT *
FROM master12
WHERE master12.NB IN (
    SELECT master14.NB 
    FROM master14 
    GROUP BY master14.NB 
    HAVING SUM(QTE)>100 AND TYPE IS NOT "gros");

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (9, 'Ajar', 'Emile', 'petit'),
 (44, 'Gide', 'Andre', 'petit')]

In [181]:
%%sql                
UPDATE master12
SET TYPE = 'gros'
WHERE master12.NB IN (
    SELECT master14.NB 
    FROM master14 
    GROUP BY master14.NB 
    HAVING SUM(QTE)>100 AND TYPE IS NOT "gros");

 * sqlite:///wine.db
4 rows affected.

[]

Update instances

#### Exercise 2.3

Compare the content of _table_ "**RBB**" and the _view_ "**bons_buveurs**" after the update. What differences do you see? Explain

Answer : RBB hasn't been updated, so only the people of type "gros" or "moyen" are present, which means, Ajar, Gide and Audiberti are'nt mentionned in it, though the RBB's starting data base has been modified.
To the contrary, since we have changed the 4 people who drank more than 100 to "gros" type, which means, once updated, the view "bons_buveurs" directly updated makes the mention of Ajar, Gide and Audiberti.

So, after the update, the view has been updated.

In [182]:
%%sql 

SELECT* FROM RBB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

In [183]:
%%sql

SELECT * FROM bons_buveurs;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'gros'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (44, 'Gide', 'Andre', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.4

Create a table "**RBA**" with the same schema as "**buveurs_asec**" which contains the tuples selected from "**buveurs_asec**"

In [185]:
%%sql DROP TABLE IF EXISTS RBA;

-- Create RBA table
CREATE TABLE RBA AS
SELECT NB, NOM, PRENOM,TYPE
FROM buveurs_asec;

 * sqlite:///wine.db
Done.
Done.

[]

In [186]:
# Test
%sql SELECT * FROM RBA

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.5

Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to "**RBA**".

In [187]:
%%sql
INSERT INTO RBA (NB, NOM, PRENOM,TYPE) 
VALUES (101, 'Gosmant','Aurore','gros');

 * sqlite:///wine.db
1 rows affected.

[]

In [188]:
# Test
%sql SELECT * FROM RBA

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (101, 'Gosmant', 'Aurore', 'gros')]

#### Exercise 2.6

Compare the content of _table_ "**RBA**" and the _view_ "**buveurs_asec**". What differences do you see? Explain

Answer: We notice that the view buveurs_asec hasn't been modified, rather that the table RBA has been modified by the insertion of a line at the end of the table.

As a matter of fact, the view is created from master12. Then, RBA is created from the view "buveurs_asec". If we modify the table RBA, then, the view has no reason to be modified since it's the view that has originated RBA.

In [152]:
%%sql
SELECT * FROM RBA;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (101, 'Gosmant', 'Aurore', 'gros')]

In [153]:
%%sql

SELECT * FROM buveurs_asec;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

___
# PART III: Design the database schema for posts in a Social Network

In this section your task is to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

**Note:** You can create diagrams of your proposal and insert them as images into this notebook.

#### Exercise 3.1

Write and explain the design of the relations of your database

Answer:We are going to create 3 tables
#User
    {EMAIL, NAME, NICKNAME, DATE_OF_BIRTH, STREET, CITY, STATE, COUNTRY, POSTAL_CODE}
    The key of this table is 'EMAIL', which is unique for each user.
    With this table, we can entirely determine the attributes of a user
   
#Relationship : 
    {EMAIL_1, EMAIL_2}
    Enables to determine if two users are friends on the social network or not.
    
#Post : 
    {ID_POST, EMAIL_PUBLISHER, ID_POST_ORIGINAL or NULL, TEXT, DATE, ATTACHMENT}
    The key of this table is 'ID_POST'. Each post has an unique postID.
    
    EMAIL_PUBLISHER : email of the user that has published the original post
    ID_POST_REPLY or NULL : If null, then the post isn't a reply : it's an original post. Otherwise, it's the ID_Post of the original post, that is replied to.
    TEXT : what is written in the post
    DATE : date of publication of the post
    ATTACHMENT : items linked to the post

#### Exercise 3.2

Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

Answer: 

When a user logs in, he wants to see the last posts (=more recent posts) of his close friends in priority, and then, the posts that are the more dynamic, which means the posts that are the most replied to.

For this purpose, we should create an attribute in the table 'Relationship', that enables to know if a user wants to follow or not another. It should be a boolean, where 1 means that users both follow each other, whereas 0 means that they . 
The table 'RelationShip' becomes : 
#Relationship : 
    {EMAIL_1, EMAIL_2, FOLLOW}
    EMAIL_1/EMAIL_2 : emails of users involved in the relationship
    FOLLOW : boolean, if 1, user1 follows user2.

%%sql DROP VIEW IF EXISTS feedBack;

CREATE VIEW feedBack AS
SELECT user.NICKNAME, user.NAME, post.TEXT, post.ATTACHMENT, post.DATE

FROM post JOIN user ON post.EMAIL_1 = user.EMAIL
JOIN relationship ON relationship.EMAIL_1 = user.NAME

WHERE relationship.FOLLOW = 1

ORDER BY DATE DESC LIMIT 1000; #On limite l'affichage des posts  500.